body {
    background-color: lightcyan;
    font-size: 1.0em;
}

h1 {
    color: #aa0000;
    margin-left: 20px;
    font-size: 1.0em;
}
p  {
    font-size: 1.0em;
}
h2 {
    color: 5a440d;
    margin-left: 20px;
    font-size: 1.0em;
}
h5 {
    color: mediumblue;
    margin-left: 20px;
    font-size: 1.0em;
}
